In [44]:
import string
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Input, Embedding, Dense, Flatten

In [45]:
df = pd.read_csv("/Users/vaisakh/programs/Notebooks/dataset/tweet_senti.csv", encoding="latin-1")

In [46]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [47]:
sentiment = df.iloc[:, 0]
text = df.iloc[:, 5]
df = pd.DataFrame({"sentiment": sentiment, "text": text})

In [48]:
def remove_punch(txt):
    punch = set(string.punctuation)
    new_txt = ""
    for ch in txt:
        if ch not in punch:
            new_txt+=ch
    return new_txt

In [49]:
df["text"] = df["text"].apply(remove_punch)
df["sentiment"] = df["sentiment"].replace(4, 1)

In [50]:
df.head()

   sentiment                                               text
0          0  is upset that he cant update his Facebook by t...
1          0  Kenichan I dived many times for the ball Manag...
2          0    my whole body feels itchy and like its on fire
3          0  nationwideclass no its not behaving at all im ...
4          0                       Kwesidei not the whole crew

In [51]:
x_data = df["text"]
y_data = df["sentiment"]

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=.30)

In [71]:
x_test.iloc[:1]

854588    kylieshort  hehehe thanks  i loooove my space
Name: text, dtype: object

In [63]:
max_vocab = 20000000
tokenizer = Tokenizer(num_words=max_vocab)
tokenizer.fit_on_texts(x_train)
idx = tokenizer.word_index
vocab_len = len(idx)